/* CSS attributes for the entire website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS for the header of the website */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(188, 123, 2);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

/* CSS for h1 inside the header */
.header h1 {
    color: white;
    font-size: 55px;
    display: inline-block;
}

/* CSS for the unordered list in the header */
.header ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    font-size: xx-large;
    top: 90px;
}

/* CSS for image in the header section */
.header img {
    width: 150px;
    height: 150px;
}

/* CSS for h1 in the about me section in the header */
.about-me h1 {
    background-color: white;
    color: rgb(188, 123, 2);
    font-size: xx-large;
    text-align: center;
}

/* CSS for h1 in work section */
.work h1 {
    text-align: center;
    color: rgb(188, 123, 2);
    font-size: xx-large;
}

/* CSS for image in the work section */
.work img {
    /* width: 300px; */
    height:300px;
}

/* CSS for h1 in the contact me section */
.contact h1 {
    text-align: center;
    color: rgb(188, 123, 2);
}

/* CSS for paragraphs in contact section */
.contact p {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

/* IDs for images in work section */
#first_img_div {
    text-align: center;
}

#first_image {
    width: 90%;
    height: 456px;
}

#other_img_div {
    text-align: center;
}

.project_img{
    width: 43%
}

.unordered_list{
    margin-top: 80px;
}
#header_div{
    display: grid;
}

/* CSS for responsive web layout */
@media screen and (max-width: 992px) {
    #other_img_div {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}